$primary-color: #202020;
$secondary-color: #2d2d92;
$background-color: #ffd3aa;
$text-color: #202020;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

